body {
	background: #f5d9d5;
	font-family: "Nunito", sans-serif;
}

.blurb h2 {
	color: #ea1c2c;
	font-weight: 100;
	font-size: 2.5rem;
}

.blurb p {
	color: #f498b8;
	font-weight: 100;
	font-size: 1.125rem;
	line-height: 2;
}

.content {
	margin-top: 100px;
	margin-bottom: 100px;
}

#mainNavbar {
	font-size: 1.5rem;
	font-weight: 100;
}

#mainNavbar .nav-link {
	color: white;
}

#mainNavbar .nav-link:hover {
	color: #ea1c2c;
}

#mainNavbar .navbar-brand {
	color: #ea1c2c;
	font-size: 1.5rem;
}

#headingGroup span {
	color: #ea1c2c;
}

#headingGroup h1 {
	font-weight: 100;
	font-size: 4rem;
}

.navbar.scrolled {
	background: rgb(222, 192, 222);
	transition: background 500ms;
}

@media (max-width: 1200px) {
	#headingGroup h1 {
		font-weight: 100;
		font-size: 3rem;
	}
	.blurb h2 {
		font-size: 2rem;
	}
}
p {
	font-size: 1.2rem;
	font-weight: 400;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
}
.copyright {
	margin-top: 70px;
	text-align: center;
}
.follow {
	text-align: end;
	justify-content: end;
	align-items: end;
	margin-top: 262px;
	margin-right: 5px;
}
.c {
	margin-bottom: 8px;
}
